In [6]:
import pandas as pd
import os

# --- Folder containing your CSVs ---
folder_path = "C:/Users/Akshiya George/OneDrive/Desktop/Data Science/Amazon"

# --- List of years to combine ---
years = range(2015, 2026)

# --- Build full file paths ---
csv_files = [os.path.join(folder_path, f"amazon_india_{year}.csv") for year in years]

# --- Read and combine all CSVs ---
combined_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

# --- Save to a single CSV file ---
output_path = os.path.join(folder_path, "amazon_india_combined_2015_2025.csv")
combined_df.to_csv(output_path, index=False)

print(f"‚úÖ Combined CSV saved to: {output_path}")

C:\Users\Akshiya George\AppData\Local\Temp\ipykernel_17124\2629574906.py:14: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

‚úÖ Combined CSV saved to: C:/Users/Akshiya George/OneDrive/Desktop/Data Science/Amazon\amazon_india_combined_2015_2025.csv

In [10]:
import pandas as pd

file_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(file_path)
df.head(10)  # First 10 rows
df.sample(5)  # 5 random rows
df.info()     # Summary of columns, types, and non-null counts
df.columns    # List of all column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127400 entries, 0 to 1127399
Data columns (total 39 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127400 non-null  object
 1   order_date              1127400 non-null  object
 2   customer_id             1127400 non-null  object
 3   product_id              1127400 non-null  object
 4   product_name            1127400 non-null  object
 5   category                1127400 non-null  object
 6   subcategory             1127400 non-null  object
 7   brand                   1127400 non-null  object
 8   original_price_inr      1093777 non-null  float64
 9   discount_percent        1127400 non-null  float64
 10  discounted_price_inr    1127400 non-null  float64
 11  quantity                1127400 non-null  int64
 12  subtotal_inr            1127400 non-null  float64
 13  delivery_charges        1037212 non-null  float64
 14  final_amount_inr        1127400 non-null  float64
 15  customer_city           1127400 non-null  object
 16  customer_state          1127400 non-null  object
 17  customer_tier           1127400 non-null  object
 18  customer_spending_tier  1127400 non-null  object
 19  customer_age_group      992109 non-null   object
 20  payment_method          1127400 non-null  object
 21  delivery_days           1120567 non-null  float64
 22  delivery_type           1127400 non-null  object
 23  is_prime_member         1127400 non-null  bool
 24  is_festival_sale        1127400 non-null  bool
 25  festival_name           349804 non-null   object
 26  customer_rating         785184 non-null   float64
 27  return_status           1127400 non-null  object
 28  order_month             1127400 non-null  int64
 29  order_year              1127400 non-null  int64
 30  order_quarter           1127400 non-null  int64
 31  product_weight_kg       1127400 non-null  float64
 32  is_prime_eligible       1127400 non-null  bool
 33  product_rating          1127400 non-null  float64
 34  dup_key                 1127400 non-null  object
 35  dup_count               1127400 non-null  int64
 36  dup_status              1121996 non-null  object
 37  flag_for_review         1121952 non-null  object
 38  payment_method_cleaned  1127400 non-null  object
dtypes: bool(3), float64(10), int64(5), object(21)
memory usage: 312.9+ MB

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating', 'dup_key', 'dup_count', 'dup_status',
       'flag_for_review', 'payment_method_cleaned'],
      dtype='object')

In [ ]:
import pandas as pd
from dateutil import parser

def clean_order_date(date_str):
    try:
        return pd.to_datetime(parser.parse(date_str, dayfirst=True)).strftime('%Y-%m-%d')
    except:
        return pd.NaT

df['order_date'] = df['order_date'].apply(clean_order_date)

In [12]:
import re

def clean_price(value):
    if isinstance(value, str):
        value = re.sub(r'[^\d.]', '', value.replace(',', ''))
        return pd.to_numeric(value, errors='coerce')
    return value

df['original_price_inr'] = df['original_price_inr'].apply(clean_price)

In [13]:
def clean_rating(r):
    if pd.isna(r): return None
    r = str(r).lower().strip()
    if '/' in r:
        parts = r.split('/')
        try: return round(float(parts[0]) / float(parts[1]) * 5, 1)
        except: return None
    r = re.sub(r'[^\d.]', '', r)
    try: return round(float(r), 1)
    except: return None

df['customer_rating'] = df['customer_rating'].apply(clean_rating)

In [16]:
city_map = {
    'ahmedabad': 'Ahmedabad',
    'aligarh': 'Aligarh',
    'allahabad': 'Allahabad',
    'bangalore': 'Bengaluru',
    'banglore': 'Bengaluru',
    'bengalore': 'Bengaluru',
    'bengaluru': 'Bengaluru',
    'bhubaneswar': 'Bhubaneswar',
    'bombay': 'Mumbai',
    'calcutta': 'Kolkata',
    'chandigarh': 'Chandigarh',
    'chenai': 'Chennai',
    'chennai': 'Chennai',
    'coimbatore': 'Coimbatore',
    'customer_city': 'Unknown',
    'delhi': 'Delhi',
    'delhi ncr': 'Delhi',
    'new delhi': 'Delhi',
    'gorakhpur': 'Gorakhpur',
    'hyderabad': 'Hyderabad',
    'indore': 'Indore',
    'jaipur': 'Jaipur',
    'kanpur': 'Kanpur',
    'kochi': 'Kochi',
    'kolkata': 'Kolkata',
    'lucknow': 'Lucknow',
    'ludhiana': 'Ludhiana',
    'madras': 'Chennai',
    'meerut': 'Meerut',
    'moradabad': 'Moradabad',
    'mumba': 'Mumbai',
    'mumbai': 'Mumbai',
    'nagpur': 'Nagpur',
    'patna': 'Patna',
    'pune': 'Pune',
    'saharanpur': 'Saharanpur',
    'surat': 'Surat',
    'vadodara': 'Vadodara',
    'varanasi': 'Varanasi',
    'visakhapatnam': 'Visakhapatnam'
}

def clean_city(city):
    if pd.isna(city): return None
    city = city.lower().strip().replace('/', ' ')
    for key in city_map:
        if key in city: return city_map[key]
    return city.title()

df['customer_city'] = df['customer_city'].apply(clean_city)

In [17]:
bool_map = {'true': True, 'yes': True, '1': True, 'y': True,
            'false': False, 'no': False, '0': False, 'n': False}

for col in ['is_prime_member', 'is_prime_eligible', 'is_festival_sale']:
    df[col] = df[col].astype(str).str.lower().map(bool_map)

In [19]:
category_map = {
    'electronics': 'Electronics',
    'electronic': 'Electronics',
    'electronics & accessories': 'Electronics',
    'electronicss': 'Electronics'
}

def clean_category(cat):
    if pd.isna(cat): return None
    cat = cat.lower().strip()
    for key in category_map:
        if key in cat: return category_map[key]
    return cat.title()

df['category'] = df['category'].apply(clean_category)

In [20]:
def clean_delivery_days(val):
    if pd.isna(val): return None
    val = str(val).lower().strip()
    if 'same' in val: return 0
    if '-' in val:
        try: return int(val.split('-')[1].split()[0])
        except: return None
    try:
        days = int(re.sub(r'[^\d]', '', val))
        return days if 0 <= days <= 30 else None
    except: return None

df['delivery_days'] = df['delivery_days'].apply(clean_delivery_days)

In [21]:
dup_cols = ['customer_id', 'product_id', 'order_date', 'original_price_inr']
df['is_duplicate'] = df.duplicated(subset=dup_cols, keep=False)

# Optional: flag bulk orders vs errors
df['duplicate_type'] = df.groupby(dup_cols)['quantity'].transform(lambda x: 'bulk' if x.sum() > 1 else 'error')

In [22]:
# Normalize column names
df.columns = df.columns.str.strip().str.lower().str.replace('‚Çπ', '').str.replace(' ', '_')

# IQR bounds for fallback correction
Q1 = df['original_price_inr'].quantile(0.25)
Q3 = df['original_price_inr'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR

# Define expected price ranges by subcategory
subcategory_price_ranges = {
    'smartphones': (5000, 100000),
    'smart_watch': (500, 15000),
    'audio': (300, 20000),
    'tablets': (5000, 60000),
    'laptops': (20000, 150000),
    'tv_&_entertainment': (10000, 150000)
}

# Correction logic using subcategory
def correct_price(row):
    price = row['original_price_inr']
    subcat = str(row.get('subcategory', '')).strip().lower().replace(' ', '_')
    expected = subcategory_price_ranges.get(subcat)
    
    if pd.isna(price):
        return price
    if expected:
        min_p, max_p = expected
        if price > max_p * 10:
            return price / 100
        elif price < min_p / 10:
            return price * 100
    if price > upper_bound:
        return price / 100
    return price

# Apply correction
df['original_price_inr'] = df.apply(correct_price, axis=1)

# Save updated file
df.to_csv(file_path, index=False)
print("‚úÖ Outlier prices corrected and saved for amazon_india_combined_2015_2025.csv")

‚úÖ Outlier prices corrected and saved for amazon_india_combined_2015_2025.csv

In [23]:
payment_map = {
    'upi': 'UPI',
    'phonepe': 'UPI',
    'googlepay': 'UPI',
    'bhim': 'UPI',

    'credit card': 'Credit Card',
    'creditcard': 'Credit Card',
    'cc': 'Credit Card',
    'visa': 'Credit Card',
    'mastercard': 'Credit Card',

    'cash on delivery': 'Cash on Delivery',
    'cod': 'Cash on Delivery',
    'c.o.d': 'Cash on Delivery',
    'cash': 'Cash on Delivery',

    'debit card': 'Debit Card',
    'dc': 'Debit Card',
    'debitcard': 'Debit Card',

    'net banking': 'Net Banking',
    'netbanking': 'Net Banking',
    'nb': 'Net Banking',

    'emi': 'EMI',
    'installment': 'EMI',

    'wallet': 'Wallet',
    'paytm': 'Wallet',
    'amazonpay': 'Wallet',
    'mobikwik': 'Wallet'
}

def clean_payment(val):
    if pd.isna(val): return None
    val = val.lower().strip().replace('_', ' ')
    for key in payment_map:
        if key in val: return payment_map[key]
    return val.title()

df['payment_method'] = df['payment_method'].apply(clean_payment)

In [3]:
import pandas as pd

file_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(1127400, 42)

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_prime_eligible,product_rating,dup_key,dup_count,dup_status,flag_for_review,payment_method_cleaned,original_order_date,is_duplicate,duplicate_type
0,TXN_2015_00029410,2015-12-17,CUST_2015_00000001,PROD_000046,Samsung Galaxy J7 32GB Black,Electronics,Smartphones,Samsung,40307.83,0.0,...,False,3.8,CUST_2015_00000001-PROD_000046-2015-12-17-1209...,1,uncertain,True,Credit Card,2015-12-17,False,bulk
1,TXN_2015_00022191,2015-09-05,CUST_2015_00000001,PROD_000087,Motorola Moto G (3rd Gen) 16GB White,Electronics,Smartphones,Motorola,NaN,0.0,...,True,3.8,CUST_2015_00000001-PROD_000087-2015-05-09-1372...,1,uncertain,True,Cash on Delivery,2015-05-09,False,NaN
2,TXN_2015_00020423,2015-09-03,CUST_2015_00000001,PROD_001884,Apple Fitness Band Premium,Electronics,Smart Watch,Apple,39490.87,0.0,...,True,4.3,CUST_2015_00000001-PROD_001884-2015-03-09-3949...,1,uncertain,True,Cash on Delivery,2015-03-09,False,error
3,TXN_2015_00015584,2015-07-29,CUST_2015_00000002,PROD_000003,Apple iPhone 6 64GB Black,Electronics,Smartphones,Apple,118141.16,0.0,...,True,4.6,CUST_2015_00000002-PROD_000003-2015-07-29-1181...,1,uncertain,True,Debit Card,2015-07-29,False,error
4,TXN_2015_00017921,2015-08-28,CUST_2015_00000002,PROD_000059,OnePlus OnePlus X 32GB Black,Electronics,Smartphones,OnePlus,57182.39,0.0,...,True,3.8,CUST_2015_00000002-PROD_000059-2015-08-28-5718...,1,uncertain,True,Cash on Delivery,2015-08-28,False,error

In [11]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

# Step 1: Load CSV
csv_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(csv_path)

# Step 2: Filter customer-related columns
customer_df = df[[
    "customer_id",
    "customer_city",
    "customer_state",
    "customer_tier",
    "customer_spending_tier",
    "customer_age_group"
]]

# Step 3: Clean data
customer_df = customer_df.drop_duplicates(subset="customer_id")
customer_df = customer_df.dropna(subset=["customer_id"])

# Step 4: Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Akshiya13@localhost/amazon")

# Step 5: Insert into SQL in chunks
try:
    customer_df.to_sql(
        "customers",
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )
    print("‚úÖ Customer data inserted successfully.")
except SQLAlchemyError as e:
    print("‚ùå Error during insertion:", e)

‚úÖ Customer data inserted successfully.

In [13]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

# Step 1: Load CSV
csv_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(csv_path)

# Step 2: Filter product-related columns
product_df = df[[
    "product_id",
    "product_name",
    "category",
    "subcategory",
    "brand",
    "product_weight_kg",
    "is_prime_eligible",
    "product_rating"
]]

# Step 3: Clean data
product_df = product_df.drop_duplicates(subset="product_id")
product_df = product_df.dropna(subset=["product_id"])

# Step 4: Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Akshiya13@localhost/amazon")

# Step 5: Insert into SQL in chunks
try:
    product_df.to_sql(
        "products",
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )
    print("‚úÖ Product data inserted successfully.")
except SQLAlchemyError as e:
    print("‚ùå Error during insertion:", e)

‚úÖ Product data inserted successfully.

In [15]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

# Step 1: Load CSV
csv_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(csv_path)

# Step 2: Extract unique order dates
date_df = pd.DataFrame(df["order_date"].dropna().unique(), columns=["date"])
date_df["date"] = pd.to_datetime(date_df["date"])

# Step 3: Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Akshiya13@localhost/amazon")

# Step 4: Load existing dates from SQL
existing_dates = pd.read_sql("SELECT date FROM time_dimension", con=engine)
existing_dates["date"] = pd.to_datetime(existing_dates["date"])

# Step 5: Filter out already inserted dates
new_dates_df = date_df[~date_df["date"].isin(existing_dates["date"])].copy()

# Step 6: Derive time attributes
new_dates_df["day"] = new_dates_df["date"].dt.day
new_dates_df["month"] = new_dates_df["date"].dt.month
new_dates_df["year"] = new_dates_df["date"].dt.year
new_dates_df["quarter"] = new_dates_df["date"].dt.quarter
new_dates_df["week"] = new_dates_df["date"].dt.isocalendar().week
new_dates_df["day_of_week"] = new_dates_df["date"].dt.day_name()
new_dates_df["is_weekend"] = new_dates_df["day_of_week"].isin(["Saturday", "Sunday"])
new_dates_df["is_holiday"] = False
new_dates_df["holiday_name"] = None

# Step 7: Insert into SQL
try:
    new_dates_df.to_sql(
        "time_dimension",
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )
    print("‚úÖ Time dimension inserted successfully.")
except SQLAlchemyError as e:
    print("‚ùå Error during insertion:", e)

‚úÖ Time dimension inserted successfully.

In [18]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

# Step 1: Load CSV
csv_path = r"C:\Users\Akshiya George\OneDrive\Desktop\Data Science\Amazon\amazon_india_combined_2015_2025.csv"
df = pd.read_csv(csv_path)

# Step 2: Filter transaction-related columns
transaction_df = df[[
    "transaction_id",
    "order_date",
    "customer_id",
    "product_id",
    "original_price_inr",
    "discount_percent",
    "discounted_price_inr",
    "quantity",
    "subtotal_inr",
    "delivery_charges",
    "final_amount_inr",
    "payment_method",
    "payment_method_cleaned",
    "delivery_days",
    "delivery_type",
    "is_prime_member",
    "is_festival_sale",
    "festival_name",
    "customer_rating",
    "return_status",
    "order_month",
    "order_year",
    "order_quarter",
    "dup_key",
    "dup_count",
    "dup_status",
    "flag_for_review"
]]

# Step 3: Clean data
transaction_df = transaction_df.drop_duplicates(subset="transaction_id")
transaction_df = transaction_df.dropna(subset=["transaction_id", "customer_id", "product_id", "order_date"])

# Step 4: Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Akshiya13@localhost/amazon")

# Step 5: Insert into SQL in chunks
try:
    transaction_df.to_sql(
        "transactions",
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )
    print("‚úÖ Transaction data inserted successfully.")
except SQLAlchemyError as e:
    print("‚ùå Error during insertion:", e)

‚úÖ Transaction data inserted successfully.

In [24]:
print("üìã Customers Table:")
print(customers_df.head(10))

üìã Customers Table:
           customer_id customer_city customer_state customer_tier  \
0   CUST_2015_00000001        Mumbai    Maharashtra         Metro
3   CUST_2015_00000002     Allahabad  Uttar Pradesh         Rural
8   CUST_2015_00000003     Bengaluru      Karnataka         Metro
14  CUST_2015_00000004        Mumbai    Maharashtra         Metro
18  CUST_2015_00000004        Mumbai    Maharashtra         Metro
19  CUST_2015_00000005        Jaipur      Rajasthan         Tier1
20  CUST_2015_00000006        Jaipur      Rajasthan         Tier1
24  CUST_2015_00000007     Hyderabad      Telangana         Metro
26  CUST_2015_00000008        Kanpur  Uttar Pradesh         Tier1
27  CUST_2015_00000009     Hyderabad      Telangana         Metro

   customer_spending_tier customer_age_group
0                  Budget              26-35
3                Standard              36-45
8                Standard              26-35
14               Standard                55+
18               Standard               None
19               Standard              26-35
20                Premium              18-25
24               Standard              18-25
26               Standard              26-35
27               Standard              36-45

In [25]:
print("\nüì¶ Products Table:")
print(products_df.head(10))

üì¶ Products Table:
     product_id                          product_name     category  \
0   PROD_000046          Samsung Galaxy J7 32GB Black  Electronics
1   PROD_000087  Motorola Moto G (3rd Gen) 16GB White  Electronics
2   PROD_001884            Apple Fitness Band Premium  Electronics
3   PROD_000003             Apple iPhone 6 64GB Black  Electronics
4   PROD_000059          OnePlus OnePlus X 32GB Black  Electronics
5   PROD_000102  Motorola Moto E (2nd Gen) 32GB Black  Electronics
6   PROD_001908           Xiaomi Fitness Band Premium  Electronics
7   PROD_001935                   Garmin Watch Deluxe  Electronics
9   PROD_000049          Samsung Galaxy J7 32GB White  Electronics
10  PROD_000096       Motorola Moto X Play 32GB White  Electronics

    subcategory     brand  product_weight_kg  is_prime_eligible  \
0   Smartphones   Samsung               0.24              False
1   Smartphones  Motorola               0.22               True
2   Smart Watch     Apple               0.04               True
3   Smartphones     Apple               0.22               True
4   Smartphones   OnePlus               0.20               True
5   Smartphones  Motorola               0.16              False
6   Smart Watch    Xiaomi               0.03               True
7   Smart Watch    Garmin               0.08              False
9   Smartphones   Samsung               0.18               True
10  Smartphones  Motorola               0.21               True

    product_rating
0              3.8
1              3.8
2              4.3
3              4.6
4              3.8
5              3.3
6              4.6
7              4.8
9              3.9
10             4.1

In [26]:
print("\nüìÖ Time Dimension Table:")
print(time_df.head(10))

üìÖ Time Dimension Table:
   order_date  order_month  order_year  order_quarter
0  2015-12-17           12        2015              4
1  2015-09-05            9        2015              3
2  2015-09-03            9        2015              3
3  2015-07-29            7        2015              3
4  2015-08-28            8        2015              3
5  2015-10-29           10        2015              4
6  2015-12-19           12        2015              4
7  2015-07-28            7        2015              3
8  2015-08-15            8        2015              3
9  2015-11-16           11        2015              4

In [27]:
print("\nüí≥ Transactions Table:")
print(transactions_df.head(10))

üí≥ Transactions Table:
      transaction_id  order_date         customer_id   product_id  \
0  TXN_2015_00029410  2015-12-17  CUST_2015_00000001  PROD_000046
1  TXN_2015_00022191  2015-09-05  CUST_2015_00000001  PROD_000087
2  TXN_2015_00020423  2015-09-03  CUST_2015_00000001  PROD_001884
3  TXN_2015_00015584  2015-07-29  CUST_2015_00000002  PROD_000003
4  TXN_2015_00017921  2015-08-28  CUST_2015_00000002  PROD_000059
5  TXN_2015_00022331  2015-10-29  CUST_2015_00000002  PROD_000102
6  TXN_2015_00030020  2015-12-19  CUST_2015_00000002  PROD_001908
7  TXN_2015_00014413  2015-07-28  CUST_2015_00000002  PROD_001935
8  TXN_2015_00017580  2015-08-15  CUST_2015_00000003  PROD_000046
9  TXN_2015_00027494  2015-11-16  CUST_2015_00000003  PROD_000049

                           product_name     category  subcategory     brand  \
0          Samsung Galaxy J7 32GB Black  Electronics  Smartphones   Samsung
1  Motorola Moto G (3rd Gen) 16GB White  Electronics  Smartphones  Motorola
2            Apple Fitness Band Premium  Electronics  Smart Watch     Apple
3             Apple iPhone 6 64GB Black  Electronics  Smartphones     Apple
4          OnePlus OnePlus X 32GB Black  Electronics  Smartphones   OnePlus
5  Motorola Moto E (2nd Gen) 32GB Black  Electronics  Smartphones  Motorola
6           Xiaomi Fitness Band Premium  Electronics  Smart Watch    Xiaomi
7                   Garmin Watch Deluxe  Electronics  Smart Watch    Garmin
8          Samsung Galaxy J7 32GB Black  Electronics  Smartphones   Samsung
9          Samsung Galaxy J7 32GB White  Electronics  Smartphones   Samsung

   original_price_inr  discount_percent  ...  is_prime_eligible  \
0            40307.83              0.00  ...              False
1                 NaN              0.00  ...               True
2            39490.87              0.00  ...               True
3           118141.16              0.00  ...               True
4            57182.39              0.00  ...               True
5            20006.12             65.38  ...              False
6            20323.89              0.00  ...               True
7            45363.47              0.00  ...              False
8            40307.83              0.00  ...              False
9            23087.98              0.00  ...               True

   product_rating                                            dup_key  \
0             3.8  CUST_2015_00000001-PROD_000046-2015-12-17-1209...
1             3.8  CUST_2015_00000001-PROD_000087-2015-05-09-1372...
2             4.3  CUST_2015_00000001-PROD_001884-2015-03-09-3949...
3             4.6  CUST_2015_00000002-PROD_000003-2015-07-29-1181...
4             3.8  CUST_2015_00000002-PROD_000059-2015-08-28-5718...
5             3.3  CUST_2015_00000002-PROD_000102-2015-10-29-6925.91
6             4.6  CUST_2015_00000002-PROD_001908-2015-12-19-4064...
7             4.8  CUST_2015_00000002-PROD_001935-2015-07-28-4536...
8             3.8  CUST_2015_00000003-PROD_000046-2015-08-15-4030...
9             3.9  CUST_2015_00000003-PROD_000049-2015-11-16-4617...

   dup_count  dup_status flag_for_review payment_method_cleaned  \
0          1   uncertain            True            Credit Card
1          1   uncertain            True       Cash on Delivery
2          1   uncertain            True       Cash on Delivery
3          1   uncertain            True             Debit Card
4          1   uncertain            True       Cash on Delivery
5          1   uncertain            True       Cash on Delivery
6          1   uncertain            True             Debit Card
7          1   uncertain            True       Cash on Delivery
8          1   uncertain            True       Cash on Delivery
9          1   uncertain            True            Credit Card

  original_order_date is_duplicate duplicate_type
0          2015-12-17        False           bulk
1          2015-05-09        False            NaN
2          2015-03-09        False          error
3          2015-07-29        False          error
4          2015-08-28        False          error
5          2015-10-29        False          error
6          2015-12-19        False           bulk
7          2015-07-28        False          error
8          2015-08-15        False          error
9          2015-11-16        False           bulk

[10 rows x 42 columns]